body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2f3640;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}


.logout {
    position: absolute;
    top: 20px;
    right: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.blog {
    padding: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.blog h3 {
    margin-bottom: 8px;
}

.blog p {
    font-size: 15px;
    line-height: 1.6;
    color: #444;
}

.actions {
    margin-top: 10px;
}

.actions a {
    text-decoration: none;
    margin-right: 15px;
    color: #0984e3;
    font-weight: bold;
}

.actions a:hover {
    text-decoration: underline;
}


.btn {
    padding: 8px 14px;
    background-color: #0984e3;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
